.login__page__whole__container{
    background-color: var(--register__login__background);
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    color: var( --light__text__color);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
   
  
}

.login__page__header{
    font-size: 2rem;
    color: var( --more__strong__text__color);
    padding-top: 30px;
    padding-left: 15px;
}
.error__message{
    font-size: 0.9rem;
    color: red;
}

.login__form{
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form__ele{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var( --strong__text__color);
    font-size: 1.1rem;

}
.button_color_style{
    background-color: bisque;
    color: black;
    font-size: 1.3rem;
}
.form__ele input{
 
    height: 6vh;
    background-color: rgb(80, 23, 133);
    border: none;
    border-radius: 10px;
    color: var(  --more__strong__text__color);
    padding: 10px 15px;
    font-size: 1.3rem;
}
.form__ele input:focus{
    outline: none;
}
.button__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}
.btn__design{
    width: 85vw;
    height: 5vh;
 background-color: bisque;
 border: none;
 border-radius: 5px;
 font-size: 1.3rem;
 font-family: "Roboto Condensed", sans-serif;
 font-weight: bold;
 
}
.open__register__page{
    margin-top: 50px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
}

.open__register__page span{
    color: var(  --more__strong__text__color);
    margin-bottom: 10px;
    font-size: 0.8rem;

}
.enter_otp_modal{
    position: fixed;
    z-index: 999999999;
    left: 0;
    top:0;
    background-color: rgb(233, 220, 246);
    height: 100vh;
    width: 100vw;
}
.otp_input{
    width: 75vw;
    height: 6vh;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.2rem;
    border: none;
}
.otp_input:focus{
    outline: none;
}