.register__page__whole__container{
    background-color: var(--register__login__background);
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    color: var( --light__text__color);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
   
  
}
.error__message{
    color: red;
    height: 1vh;
}
.register__page__header{
    font-size: 2rem;
    color: var( --more__strong__text__color);
    padding-top: 30px;
    padding-left: 15px;
}

.register__form{
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form__ele{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var( --strong__text__color);

}
.form__ele input{
  
    height: 6vh;
    background-color: blueviolet;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 1.3rem;
    color: white;
}
.form__ele label{
font-size: 1.2rem;
}
.form__ele input:focus{
    outline: none;
}
.button__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}
.btn__design{
    width: 85vw;
    height: 5vh;
 background-color: bisque;
 border: none;
 border-radius: 5px;
 font-size: 1.3rem;
 font-family: "Roboto Condensed", sans-serif;
 
}
.button_color_style{
    background-color: bisque;
    color: black;
    font-size: 1.3rem;
}
.open__login__page{
    margin-top: 50px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.open__login__page span{
    color: var(  --more__strong__text__color);
    margin-bottom: 10px;

}
.login__page__modal__footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__page__modal__footer button{
    width: 70%;
    padding: 4px;
    font-size: 1rem;
    border: 0.5px solid var(  --border__color);
    border-radius: 4px;
    background-color: var();
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid transparent;
    border-top-color: rgb(27, 27, 27); /* Spinner color */
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
