.book__carousel__container {
  margin-top: 30px;
}
.swiper__slide__element {
  height: 400px;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.swiper__slide__element img {
  height: 206px;
  width: 397px;
  object-fit: contain;
  
}

.swiper-wrapper{
  /* margin: 10px !important; */
}
.swiper-slide {
  width: 70vw; /* Adjust the width as needed */
  height: 200px !important; /* Adjust the height as needed */
  margin: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Optional: Background color for visibility */
  border: none /* Optional: Border for visibility */
}
