.book__carousel__container {
  margin-top: 30px;
}
.swiper__slide__element {
  height: 100px;
  width: 90vw;
}

.swiper-slide {
  width: 90vw; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional: Background color for visibility */
  border: 1px solid #ccc; /* Optional: Border for visibility */
}
