.home_page_whole_container{
    margin-top: 4.5rem;
    font-family: "Roboto Condensed", sans-serif;
    overflow-y: scroll;
}
.home_page_search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.seach_box_container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    padding: 10px;
    width: 90%;
    border: 0.5px solid var( --light_border_color);
    border-radius: 5px;
    font-family: "Roboto Condensed", sans-serif;
    /* height: 30px; */
}
.seach_box_container input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.seach_box_container input:focus{
    border: none;
    outline: none;
}
.seach_box_container input::placeholder{
    color: var(--light__text__color);
}

.home_page_category_componant{
    border-bottom: 8px solid var(--light_border_color);
}

.home_page_footer_container{
background-color: rgb(202, 205, 209);
display: flex;
flex-direction: column;
gap: 10px;
padding: 15px;
margin-top: 30px;
margin-bottom: 40px;
padding-bottom: 100px;
}
.footer_section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.company_name{
    font-size: 1.5rem;
}
.footer_section_element_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer_section_element{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer_sub_heading{
    font-size: 1.2rem;
}
.footer_section_element{
    color: rgb(47, 47, 47);
}